body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #FEE140, #F07823);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #333; /* Text color */
  }
  .animated-bg {
    animation: gradient-animation 10s infinite alternate;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px; /* Maintain border radius */
}

.card span {
  position: absolute; /* Position the number absolutely within the card */
  font-size: 60px; /* Adjust the font size as needed */
  font-weight: bold;
  color: white; /* Set the color of the number */
}
  
  nav {
    background-color: #FFB24D; /* Darker shade of orange */
    padding: 10px 0;
    text-align: center;
  }
  
  nav a.btn:hover {
    background-color: #FF9000; /* Darker shade of orange */
  }

  .btn {
    background-color: #FFA400;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }

  nav button:hover {
    background-color: #FF9000; /* Darker shade of orange */
  }
  
  nav button:hover,#replay-button:hover {
  background-color: #FF9000; /* Darker shade of orange */
}
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .game-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    width: 100px;
    
    height: 100px;
    margin: 10px;
    background-color: #FFD35A; /* Yellow color from the gradient */
    border: 2px solid #F07823; /* Orange color from the gradient */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .card:hover {
    background-color: #FFC000;
    transform: translateY(-5px);
  }
  
  #message {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  #timer {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #replay-button {
    background-color: #FFA400; /* Orange color from the gradient */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #leaderboard {
    list-style-type: none;
    padding: 0;
  }
  
  #leaderboard li {
    background-color: #FFA400; /* Background color for leaderboard items */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #leaderboard li:nth-child(even) {
    background-color: #FFA400; /* Alternate background color for even leaderboard items */
  }
  
  /* Media Queries for Responsive Design */
  @media only screen and (max-width: 600px) {
    .card {
      width: 40px;
      height: 60px;
      font-size: 16px;
    }

    .card img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      border-radius: 5px; /* Maintain border radius */
  }
  .card span {
    position: absolute; /* Position the number absolutely within the card */
    font-size: 40px; /* Adjust the font size as needed */
    font-weight: bold;
    color: white; /* Set the color of the number */
  }
  
    #message {
      font-size: 16px;
    }
  
    #timer {
      font-size: 16px;
    }
  
    #replay-button {
      padding: 8px 16px;
      font-size: 14px;
    }
  
    .leaderboard-container h2 {
      font-size: 20px;
    }
  
    #leaderboard li {
      font-size: 14px;
    }
  }
  